@use 'sass:map';

//
// Custom
//

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) +
		map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}

// Books slider

.font-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

.book-slider {
    &__container {
        height: 425px;
        width: 225px!important;
    }
    & img {
        border-radius: 20px;
        height: 335px;
        object-fit: cover;
        margin-bottom: 20px;
        width: 225px;
    }
    & h3 {
        font-size: 1.4rem;
    }
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
