@use 'sass:map';

//
// Custom
//

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) +
		map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}

* {
    scroll-behavior: smooth;
    scrollbar-color: rgba(0, 0, 0, 0.05) rgba(250, 250, 250, 0.8);
    scrollbar-width: thin;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

// FONTS FAMILY
.font-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

.font-crimson {
    font-family: 'Crimson Text', serif;
}

// FONT WEIGHTS
$font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $font-weight in $font-weights {
  .fw-#{$font-weight} {
    font-weight: #{$font-weight};
  }
}

// FONT SIZE
@mixin font-size($size) {
    font-size: $size + px;
}

@for $i from 1 through 200 {
    .fs-#{$i} { @include font-size($i); }
}

// LINE HEIGHT
@mixin line-height($height) {
    line-height: $height + px;
}

@for $i from 0 through 100 {
    .line-height-#{$i} { @include line-height($i); }
}

// MARGINS
@mixin margin-right($i) {
    margin-right: $spacer * $i;
}
@for $i from 0 through 10 {
    .mr-#{$i} { @include margin-right($i); }
}

@mixin margin-left($i) {
    margin-left: $spacer * $i;
}
@for $i from 0 through 10 {
    .ml-#{$i} { @include margin-left($i); }
}

// PADDINGS
@mixin padding-right($i) {
    padding-right: $spacer * $i;
}
@for $i from 0 through 10 {
    .pr-#{$i} { @include padding-right($i); }
}

@mixin padding-left($i) {
    padding-left: $spacer * $i;
}
@for $i from 0 through 10 {
    .pl-#{$i} { @include padding-left($i); }
}

// BOOK SLIDER
.book-slider {
    &__container {
        height: 425px;
        width: 225px!important;
    }
    & h3 {
        font-size: 1.4rem;
    }
}

.book-cover {
    border-radius: 20px;
    height: 335px;
    object-fit: cover;
    margin-bottom: 20px;
    width: 225px;
}

// CARD
.transparent {
    background-color: transparent;
    box-shadow: none;
}

// FIRST LETTER HIGHLIGHT
.first-letter:first-letter {
    float: left;
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 0.65;
    margin: 0.1em 0.1em 0rem 0;
}